@charset "utf-8";

@import "./_border-radius";
@import "./_color";
@import "./_opacity";
@import "./_shadow";
@import "./_spacing";
@import "./_typography";


/*見出しと同じfontを見出し以外で使う場合*/

@mixin h1() {
  font-size: $text-XXL;
  font-weight: 600;
}

@mixin h2() {
  font-size: $text-XL;
  font-weight: 600;
}

@mixin h3() {
  font-size: $text-L;
  font-weight: 600;
}

@mixin h4() {
  font-size: $text-M;
  font-weight: 600;
}

@mixin h5() {
  font-size: $text-S;
  font-weight: 600;
}

@mixin h6() {
  font-size: $text-XS;
  font-weight: 600;
}

@mixin p() {
  font-size: $text-M;
  font-weight: 300;
}