@import "./_border-radius";
@import "./_color";
@import "./_opacity";
@import "./_shadow";
@import "./_spacing";
@import "./_typography";

/*インプットフィールドのスタイルを指定*/

@mixin input-base() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 10px 8px;
  border: 1px solid $border-main;
  border-radius: $radius-S;
  min-height: 2.75rem;
  width: 100%;

  &:focus-visible {
      border-color: $focus-main;
      outline: 2px solid $blue-100;
  }
  }


  /*リンクテキストのスタイルを指定*/

  @mixin link-base() {
    color: $text-link;
    text-decoration: underline;

    &:hover{
        color: $blue-700;
    }

    &:active{
        color: $blue-800;
    }

    &:focus-visible{
        outline : 2px solid $focus-main;
        border-radius: $radius-S;
    }
  }
