/*定義したが使っていない*/

$space-X3S: 0.25rem;
$space-XXS: 0.5rem;
$space-XS: 0.75rem;
$space-S: 1rem;
$space-M: 1.25rem;
$space-L: 1.5rem;
$space-XL: 2rem;
$space-XXL: 3rem;
$space-X3L: 4rem;
$space-X4L: 5rem;