/*定義したが使っていない*/

$space-X3S: 0.25rem; /*4px*/
$space-XXS: 0.5rem; /*8px*/
$space-XS: 0.75rem; /*12px*/
$space-S: 1rem; /*16px*/
$space-M: 1.25rem; /*20px*/
$space-L: 1.5rem; /*24px*/
$space-XL: 2rem; /*32px*/
$space-XXL: 3rem; /*48px*/
$space-X3L: 4rem; /*64px*/
$space-X4L: 5rem; /*80px*/