/*font-sizeを指定*/

$text-XXL: 2rem; /*32px*/
$text-XL: 1.5rem; /*24px*/
$text-L: 1.25rem; /*20px*/
$text-M: 1rem; /*16px*/
$text-S: 0.875rem; /*14px*/
$text-XS: 0.75rem; /*12px*/

/*見出しのサイズを指定*/

@mixin text-h1() {
    font-size: $text-XXL;
    font-weight: 600;
  }
  
  @mixin text-h2() {
    font-size: $text-XL;
    font-weight: 600;
  }
  
  @mixin text-h3() {
    font-size: $text-L;
    font-weight: 600;
  }
  
  @mixin text-h4() {
    font-size: $text-M;
    font-weight: 600;
  }
  
  @mixin text-h5() {
    font-size: $text-S;
    font-weight: 600;
  }
  
  @mixin text-h6() {
    font-size: $text-XS;
    font-weight: 600;
  }
  
  @mixin text-body1() {
    font-size: $text-M;
    font-weight: 300;
  }
  
  @mixin text-body2() {
    font-size: $text-S;
    font-weight: 300;
  }

  @mixin text-caption() {
    font-size: $text-XS;
    font-weight: 300;
  }