@charset "utf-8";

@import "./_color";
@import "./_typography";

/*グローバルスタイルを指定*/

html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: $XXL;
  font-weight: 600;
}

h2 {
  font-size: $XL;
  font-weight: 600;
}

h3 {
  font-size: $L;
  font-weight: 600;
}

h4 {
  font-size: $M;
  font-weight: 600;
}

h5 {
  font-size: $S;
  font-weight: 600;
}

h6 {
  font-size: $XS;
  font-weight: 600;
}
