@charset "utf-8";

@import "./_border-radius";
@import "./_color";
@import "./_opacity";
@import "./_shadow";
@import "./_spacing";
@import "./_typography";

/*グローバルスタイルを指定*/

html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: $text-XXL;
  font-weight: 600;
}

h2 {
  font-size: $text-XL;
  font-weight: 600;
}

h3 {
  font-size: $text-L;
  font-weight: 600;
}

h4 {
  font-size: $text-M;
  font-weight: 600;
}

h5 {
  font-size: $text-S;
  font-weight: 600;
}

h6 {
  font-size: $text-XS;
  font-weight: 600;
}
