@import "./_border-radius";
@import "./_color";
@import "./_opacity";
@import "./_shadow";
@import "./_spacing";
@import "./_typography";
@import "./_mixins";
@import "./_z-index";

/*グローバルスタイルを指定*/

html {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  @include text-h1();
}

h2 {
  @include text-h2();
}

h3 {
  @include text-h3();
}

h4 {
  @include text-h4();
}

h5 {
  @include text-h5();
}

h6 {
  @include text-h6();
}

p {
  @include text-body1();
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}